@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-800;
  }
}

@layer utilities {
  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

/* BLOG ARTICLE CSS*/

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5,
.article-container h6 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

.article-container h1 {
  font-size: 32px;
}

.article-container h2 {
  font-size: 28px;
}

.article-container h3 {
  font-size: 24px;
}

.article-container h4 {
  font-size: 20px;
}

.article-container h5 {
  font-size: 18px;
}

.article-container h6 {
  font-size: 16px;
}

.article-container p {
  margin-bottom: 15px;
}

.article-container li {
  margin-bottom: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.article-container strong {
  font-weight: bold;
}

.article-container img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 2rem 0;
}
